@model IEnumerable<MiprimerMVC.Models.Cliente>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombreCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccionCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.generoCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.edadCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefonoCliente)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombreCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccionCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.generoCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.edadCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefonoCliente)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CodigoCliente }) |
            @Html.ActionLink("Details", "Details", new { id=item.CodigoCliente }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CodigoCliente })
        </td>
    </tr>
}

</table>
